<div class="consulta">
    
      <div class="row">
        <div class="col-12">
          <span class="consulta-titulo">
            Filtrar por
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
          <div class="form-group">
            <label for="qtd">Quantidade</label>
            <input class="form-control form-control-sm" type="text" name="qtd" id="qtd" formControlName="qtd" placeholder="Quantidade" maxlength="7" >
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
          <div class="form-group">
            <label for="cpf">CPF</label>
            <input class="form-control form-control-sm" type="text" name="cpf" id="cpf" formControlName="cpf" mask="000.000.000-00" placeholder="CPF">
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
          <div class="form-group">
            <label for="tipoServico">Tipo de serviço</label>
            <input class="form-control form-control-sm" type="text" name="tipoServico" id="tipoServico" formControlName="tipoServico" placeholder="Tipo de serviço" maxlength="50">
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
          <div class="form-group">
            <label for="numeroProposta">Número da proposta</label>
            <input class="form-control form-control-sm" type="text" name="numeroProposta"
             id="numeroProposta" formControlName="numeroProposta" placeholder="Número da proposta" maxlength="50">
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
          <div class="form-group">
            <label for="dataInicio">Data início</label>
            <input type="tel" class="form-control form-control-sm" autocomplete="off" mask="00/00/0000" matInput 
                placeholder="DD/MM/AAAA" name="dataInicio" id="dataInicio" formControlName="dataInicio" >
           
            <!-- <div class="invalid-feedback">
              Data inválida
            </div> -->
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
          <div class="form-group">
            <label for="dataFim">Data fim</label>
            <input type="tel" class="form-control form-control-sm" autocomplete="off" mask="00/00/0000" matInput 
                placeholder="DD/MM/AAAA" name="dataFim" id="dataFim" formControlName="dataFim">
            
            <!-- <div class="invalid-feedback">
              Data inválida
            </div> -->
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
          <div class="form-group">
            <label for="modalidade">Modalidade</label>
            <input class="form-control form-control-sm" type="text" name="modalidade" id="modalidade" formControlName="modalidade" placeholder="Modalidade" maxlength="50">
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
          <div class="form-group">
            <label for="canal">Canal</label>
            <input class="form-control form-control-sm" type="text" name="canal" id="canal" formControlName="canal" placeholder="Canal" maxlength="50">
          </div>
        </div>
  
     
     
      <div class="row tabela">
        <div class="col">
          
        </div>
      </div>
   
  </div>
  

             

